ion-toolbar {
  --background: linear-gradient(90deg, #b71c1c, #f44336);
  --color: white;
}

ion-avatar img {
  border: 2px solid white;
}

.admin-btn {
  --border-radius: 8px;
  --padding-start: 16px;
  --background: #e53935;
  --color: white;
  font-weight: bold;
  margin: 5px 0;
  text-transform: none;
}

.perfil-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}
